.env.secrets
.envrc
.envrc.disabled

.env
.venv/
.env.*
.env.local
.env.runtime
.env.export
.venv/
.venv-host/
__pycache__/
logs/
*.log

.early.coverage
*.bak.*
*.pyc
dist/
build/
*.egg-info/
_wheels/.env.secrets
.env.secrets
